{% extends 'FinalApp/index.html' %}
{% load static %}

{% block 'nav' %}

        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'indice' %}">Principal</a>
            </div>
        </nav>

{% endblock 'nav' %}


{% block 'header' %}

    <header class="publicar">
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Algo sobre mi</h1>
                            <h4> Soy Nicolas Yuvero, arquitecto de formacion y en ejercicio actualmente.
                                 <br>
                                 Creo que esto me acerco inicialmente al mundo de la programacion, por el tiempo y la 
                                 <br>
                                 energia que le dedicamos ya forma parte del mundo habitable aunque en el 
                                 <br>
                                 plano de lo virtual. Finalmente me terminé de enganchar cuando conocí todas 
                                 <br>
                                 las posibilidades practicas que herramientas como esta le aportarian al 
                                 <br>
                                 campo disciplinar y que de nada de esto se habla en la formacion basica.
                                 <br>
                                 Continuo en esa busqueda.
                                 <br>
                                 Nada de esto seria posible sin las personas que con mucha vocacion y docencia me
                                 <br>
                                 abieron las puertas de la curiosidad.


                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </header>
     </header>

{% endblock 'header' %}

{% block 'section' %}

{% endblock 'section' %}